In [9]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('nzlud_muni.csv', encoding='latin1')

# Display the first few rows of the DataFrame
print(df.head())

    GEOID statename       place  type  restrict_sf_permit  restrict_mf_permit  \
0  102956        AL      Athens  City                   0                   0
1  103076        AL      Auburn  City                   0                   0
2  105980        AL    Bessemer  City                   0                   0
3  107000        AL  Birmingham  City                   0                   0
4  114392        AL   Chickasaw  City                   0                   0

   limit_sf_units  limit_mf_units  limit_mf_dwellings  \
0               0               0                   0
1               0               0                   0
2               0               0                   0
3               0               0                   0
4               0               0                   0

   limit_mf_dwelling_units  ...  add_index    zri_up  zri_up_st  wt_all_2019  \
0                        0  ...          8  0.881833  -0.765643    14.022902
1                        0  ...         13  1.919780   0.419004     2.132858
2                        0  ...          9  1.174291  -0.431849    10.157370
3                        0  ...         10  1.014156  -0.614617     2.120791
4                        0  ...          8  1.155308  -0.453515    13.094004

   st_wt_all_2019  wt_msa_2019  st_wt_msa_2019  wt_lmsa_2019  st_wt_lmsa_2019  \
0        0.886637    10.640125        1.206220           NaN              NaN
1        0.134856     2.491261        0.282422           NaN              NaN
2        0.642228     6.965198        0.789611           NaN              NaN
3        0.134093     2.194012        0.248725           NaN              NaN
4        0.827904     8.369652        0.948827           NaN              NaN

          timestamp
0   8/22/2019 15:49
1   8/22/2019 15:50
2   7/16/2019 14:21
3   7/16/2019 14:21
4  10/18/2019 23:07

[5 rows x 77 columns]

In [10]:

df

,GEOID,statename,place,type,restrict_sf_permit,restrict_mf_permit,limit_sf_units,limit_mf_units,limit_mf_dwellings,limit_mf_dwelling_units,...,add_index,zri_up,zri_up_st,wt_all_2019,st_wt_all_2019,wt_msa_2019,st_wt_msa_2019,wt_lmsa_2019,st_wt_lmsa_2019,timestamp
0,102956,AL,Athens,City,0,0,0,0,0,0,...,8,0.881833,-0.765643,14.022902,0.886637,10.640125,1.206220,NaN,NaN,8/22/2019 15:49
1,103076,AL,Auburn,City,0,0,0,0,0,0,...,13,1.919780,0.419004,2.132858,0.134856,2.491261,0.282422,NaN,NaN,8/22/2019 15:50
2,105980,AL,Bessemer,City,0,0,0,0,0,0,...,9,1.174291,-0.431849,10.157370,0.642228,6.965198,0.789611,NaN,NaN,7/16/2019 14:21
3,107000,AL,Birmingham,City,0,0,0,0,0,0,...,10,1.014156,-0.614617,2.120791,0.134093,2.194012,0.248725,NaN,NaN,7/16/2019 14:21
4,114392,AL,Chickasaw,City,0,0,0,0,0,0,...,8,1.155308,-0.453515,13.094004,0.827904,8.369652,0.948827,NaN,NaN,10/18/2019 23:07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,5621125,WY,Douglas,City,0,0,0,0,0,0,...,12,2.506044,1.088128,16.830365,1.064146,NaN,NaN,NaN,NaN,10/12/2021 13:32
2635,5640120,WY,Jackson,Town,0,0,0,0,0,0,...,13,2.805353,1.429741,1.490309,0.094229,NaN,NaN,NaN,NaN,10/27/2021 17:36
2636,5644760,WY,Lander,City,0,0,0,0,0,0,...,9,0.852324,-0.799322,6.441017,0.407251,NaN,NaN,NaN,NaN,9/16/2020 23:36
2637,5645050,WY,Laramie,City,0,0,0,0,0,0,...,11,2.758588,1.376367,1.898905,0.120064,NaN,NaN,NaN,NaN,7/16/2019 15:20
2638,5663900,WY,Rawlins,City,0,0,0,0,0,0,...,12,1.863609,0.354894,9.095996,0.575119,NaN,NaN,NaN,NaN,9/16/2020 23:39

In [12]:
# Check if the columns are the same
are_columns_same = df['restrict_sf_permit'].equals(df['restrict_mf_permit'])

print("Is restrict single family permits and Restrict multi-family permits equal?")
print(are_columns_same)

Is restrict single family permits and Restrict multi-family permits equal?
True

In [13]:
# Check if the columns are the same
are_columns_same = df['limit_sf_units'].equals(df['limit_mf_units'])

print("Is limit single family units and limit multi-family units equal?")
print(are_columns_same)

Is limit single family units and limit multi-family units equal?
True